<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1066587397858-8o7quau53lb0g6t98pu6picj2ehkddqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1066587397858-8o7quau53lb0g6t98pu6picj2ehkddqi</string>
	<key>API_KEY</key>
	<string>AIzaSyBpKipzUBxrzxK5scGRBRVfSsyvQAcyy90</string>
	<key>GCM_SENDER_ID</key>
	<string>1066587397858</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mcagricaliskan.scrollary</string>
	<key>PROJECT_ID</key>
	<string>scrollary-4de0f</string>
	<key>STORAGE_BUCKET</key>
	<string>scrollary-4de0f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1066587397858:ios:c52cb90f3bfd9843b408bb</string>
</dict>
</plist>